<div class="app-login container">
  <header class="app-login__header">
    <h1 class="title">Dragons Crud</h1>
  </header>

  <div class="columns">
    <form [formGroup]="loginForm" class="column is-half is-offset-one-quarter">
      <div class="field">
        <input
          formControlName="user"
          class="input"
          [ngClass]="f.user.errors ? 'is-danger' : 'is-success'"
          type="text"
          placeholder="Usuário">
      </div>
      <div class="field">
        <input
          formControlName="password"
          class="input"
          [ngClass]="f.password.errors ? 'is-danger' : 'is-success'"
          type="password"
          placeholder="Senha">
      </div>
      <button (click)="login()" [disabled]="!loginForm.valid" [class.is-loading]="isLoading" class="button is-fullwidth is-info">Entrar</button>
      <p *ngIf="error" class="app-login__error">Forneça um usuário válido</p>
    </form>
  </div>
</div>
