@import '~bulma/sass/utilities/_all';

.app-login {

  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: $size-medium;
  }

  &__form {
    padding: 0 $size-large 0 $size-large;
  }

  &__error {
    color: $red;
  }
}
