<div class="app-login container">
  <header class="app-login__header">
    <h1 class="title">Dragons Crud</h1>
  </header>

  <div class="columns">
    <form class="column is-half is-offset-one-quarter">
      <div class="field">
        <input class="input" type="text" placeholder="User">
      </div>
      <div class="field">
        <input class="input" type="password" placeholder="Password">
      </div>
      <button class="button is-fullwidth is-info">Signin</button>
    </form>
  </div>
</div>
