<nav
  *ngIf="pager.pages && pager.pages.length"
  class="pagination is-centered"
  role="navigation"
  aria-label="pagination">
  <button
    class="pagination-previous"
    [disabled]="pager.currentPage === 1"
    (click)="clickPage(pager.currentPage - 1)">
    Anterior
</button>

  <button
    class="pagination-next"
    [disabled]="pager.currentPage === pager.totalPages"
    (click)="clickPage(pager.currentPage + 1)">
    Próxima
</button>

  <ul class="pagination-list">
    <li *ngFor="let page of pager.pages">
      <a
        [class.is-current]="pager.currentPage === page"
        class="pagination-link"
        (click)="clickPage(page)">
        {{page}}
      </a>
    </li>
  </ul>
</nav>
