<div class="app-list container">

  <div class="app-list__card card" *ngFor="let dragon of dragons">
    <header class="card-header">
      <p class="card-header-title">
        {{ dragon.name || 'Sem nome' }}
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <p><strong>Tipo:</strong> {{ dragon.type || 'Sem tipo' }}</p>
        <p><strong>Data de criação: </strong><time datetime="2016-1-1">{{ dragon.created_at }}</time></p>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">Editar</a>
      <a href="#" class="card-footer-item">Deletar</a>
    </footer>
  </div>
</div>
