@import '~bulma/sass/utilities/_all';

.app-list {

  &__loading-container {
    display: flex;
    justify-content: center;
  }

  &__not-found-title {
    text-align: center;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }
}
