<div class="app-list container">

  <div class="columns" *ngIf="isLoading">
    <div class="column is-half is-offset-one-quarter app-list__loading-container">
      <img class="app-list__loading" src="assets/loading.gif" alt="Dragon flying">
    </div>
  </div>

  <div class="columns" *ngIf="!dragons.items.length && !isLoading">
    <div class="column is-half is-offset-one-quarter">
      <p class="title app-list__not-found-title">Nenhum dragão encontrado. :(</p>
      <button [routerLink]="['/register']" class="button is-fullwidth is-info">
        Crie seu primeiro dragão
      </button>
    </div>
  </div>

  <div *ngIf="dragons.items.length">
    <header class="app-list__header">
      <p class="title">Meus dragões</p>
      <button [routerLink]="['/register']" class="button is-info">Registrar novo dragão</button>
    </header>

    <app-dragon-card
      *ngFor="let dragon of dragons.items"
      (deleted)="updateList({ deleted: $event })"
      [dragon]="dragon"></app-dragon-card>
    <app-pagination
      (page)="updateList({ page: $event })"
      [interactionData]="dragons._metadata"></app-pagination>
  </div>
</div>
