@import '~bulma/sass/utilities/_all';
@import '~bulma/sass/components/card';

.app-list {

  &__not-found-title {
    text-align: center;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    margin-bottom: $size-medium;
  }
}
